[alias]
	lg = "log --graph --decorate --pretty=\"format:%h - %an: %s\" --abbrev-commit"
	sl = shortlog -sne --no-merges
	st = status

[init]
	defaultBranch = main

[pull]
	ff = only

[user]
	name = Travis Luckenbaugh
	email = tluckenbaugh@gmail.com