[includeIf "gitdir:/Users/travis/Code/penndotvso.visualstudio.com/"]
	path = /Users/travis/Code/travis-mark.github.com/dotfiles/config/.gitconfig_work

[includeIf "gitdir:/Users/travis/Code/travis-mark.github.com/"]
    path = /Users/travis/Code/travis-mark.github.com/dotfiles/config/.gitconfig_home
