[includeIf "gitdir:/Volumes/Code/penndotvso.visualstudio.com/"]
	path = /Volumes/Code/Personal/dotfiles/config/.gitconfig_work

[includeIf "gitdir:/Volumes/Code/Personal/"]
    path = /Volumes/Code/Personal/dotfiles/config/.gitconfig_home
